@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F6F5F7;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  
}
